

$red: #b61e44;
$twitter: #55acee;
$instagram: #3f6d93;
$facebook: #3B5998;

body, html{
	min-height: 100%;
	background-color: #fff;
}

body{
	margin-top: -5px;
}

nav{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100px;
	z-index: 999;

	a{
		transition: all .3s linear;
	}

	.social{
		margin-top: 25px;
		margin-right: 25px;

		li{
			margin-left: 1em!important;
		}
		a{
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px!important;
			text-align: center;
		}

		.facebook a{
			background-color: $facebook;
		}

		.twitter a{
			background-color: $twitter;
		}

		.instagram a{
			background-color: $instagram;
		}
	}
	
	ul.inline-list{
		float: left;
		margin-bottom: 0;
		margin-left: 20px;

		li.logo{
			margin-right: 20px;
			a{
				background: url(../img/logo-white.png) no-repeat center center;
				width: 71px;

				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;

				position: relative;
				top: 2px;

				font-weight: 500;

			}
		} 

		li{
			margin-left: 0;
			a{
				color: #fff;
				line-height: 100px;
				padding: 0 20px;

				&:hover{
					background-color: #000;
					color: lighten($red, 20%);
				}
			}
		}
	}
}

section.hero{
	background: url(../img/header-bg.png) no-repeat center center;
	background-size: cover;

	height: 100%;
}

dl.tabs{

	border-bottom: 4px solid $red;
	padding-left: 1em;

	dd{
		position: relative;
		top: 4px;
		a{
			background-color: #fff;
			border: 1px solid $red;
			border-bottom-width: 4px;
			color: $red;
			font-weight: bold;

			&:hover{
				background-color: darken($red, 10%);
			}
		}
	
		&.active a{
			background-color: $red;
			color: #fff;
		}
	}
}

div.tabs-content{
	padding: 0 1em;
}

section{

	min-height: 100%;
	padding-bottom: 3em;

	header{
		margin-bottom: 0!important;
		min-height: 100vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
 
		h1{
			width: 350px;
			height: 350px;
			line-height: 350px;
			background-color: $red;
			color: #fff;
			margin: 0 auto;
			text-align: center;
			position: relative;
			top: 200px;

			&.logo{
				background-color: transparent;
			}
		}
	}

	ul.tabs{
		text-align: center;
		margin-top: -60px;
		li{
			display: inline-block;

			&.active a{
				background-color: #fff;
				color: $red;
			}

			a{
				display: inline-block;
				height: 60px;
				padding: 10px 20px;
				color: #fff;
				font-weight: bold;
			}
		}
	}

	.child-title{
		color: $red;
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2rem;
		position: relative;

		span{
			background-color: #fff;
			position: relative;
			z-index: 99;
			display: inline-block;
			padding-right: 20px;
		}

		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: #aaa;
			position: absolute;
			top: 50%;
		}
	}

	.tab-content{
		display: none;
		&.active{
			display: block;
		}
	}
}

.blog-posts{
	padding-bottom: 0;
	margin-bottom: 0;
	header{
		background-image: url(../img/header-bg.png);
	}

	.no-bullet{
		margin-bottom: 0;
	}

	.posts{
		li{
			border-bottom: 1px solid #aaa;
			transition: all .3s linear;
			background-color: #fff;

			p{
				margin-bottom: 0;
			}

			&:hover{
				background-color: $red;
				a,
				h2,
				h3,
				p{
					color: #fff;
				}
			}

			a, h2, h3, p{
				transition: all .5s linear;
			}

			a{
				padding: 2em 0;
				display: block;

				h2{
					color: $red;

				}

				h3{
					color: #aaa;
					font-size: 18px;
				}

				p{
					text-transform: uppercase;
					font-weight: bold;
					font-style: normal;
					color: #aaa;
				}
			}
		}
	}
}

footer{
	background-color: #f6f6f6;
	padding: 3rem inherit;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	ul{
		margin-left: 0;

		li{
			background-color: #f6f6f6;
			padding: 2em 3em;
		}
	}

	.gform_wrapper{ 
		li.gfield{
			input, textarea{
				margin-bottom: 0.5em!important;
				width: 100%!important;
			}
		}

		[type="submit"]{
			background-color: $red;

			@include radius();

			&:hover{
				background-color: darken($red, 10%);
			}
		}
	}

	.gform_footer{
		margin-top: 0;
	}

	li{
		list-style: none;
	}
}

.copyright{
	background-color: $red;
	padding: 1em;
	color: #fff;

	p{
		margin-bottom: 0;
	}
}

.single-post{
	header{
		height: 50%;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.content.row{
		margin-top: 3em;
		margin-bottom: 4em;

		h1{
			margin-bottom: 1em;
		}
	}

	.nav{

		margin-bottom: 2em;

		a{
			display: block;
			width: 50%;
			padding: 2em 3em;
			color: #fff;
			background-color: $red;
			font-weight: bold;
		}
	}
}

@media #{$small-only}{

	body.lock{
		overflow: hidden;
	}

	ul.social{
		display: none;
	}

	ul.main-menu{
		background-color: rgba(0,0,0,0.9);
		margin-left: 0!important;
		width: 100%;
		position: fixed;
		top: 95px; left: 0; right: 0; bottom: 0;
		height: 1px;
		transition: all .5s ease-out;
		overflow: hidden;

		&.visible{
			height: auto;
		}

		li{
			display: block;
			float: none;

			&.logo{
				display: none;
			}

			&.social{
				a{
					margin-left: 1em;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;

					&.facebook{
						background-color: $facebook;
					}

					&.instagram{
						background-color: $instagram;
					}
				}
			}

			a{
				padding: inherit 1em;

				line-height: 50px!important;
				border-bottom: 1px solid rgba(255,255,255,0.1);
			}
		}
	}

	.mobile-menu{
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		font-size: 24px;
		color: #fff;
		float: right;
		margin-right: 20px;
		margin-top: 25px;

		&:active,
		&:hover{
			color: $red;
		}
	}

	section{
		header{
			h1.logo{
				width: 200px;
				top: 150px;
			}

			h1{
				width: 200px;
				height: 200px;
				line-height: 200px;
				font-size: 24px;
			}
		}

		ul.tabs{
			display: none;
		}

		h2.toggle-accordion{
			font-size: 18px;
			min-height: 50px;
			border-bottom: 1px solid #eee;
			a{
				display: block;
				@include grid-column(12);
				line-height: 50px;
				color: $red;
				position: relative;
				padding-right: 50px;

				i{
					position: absolute;
					top: 0; 
					right: 0;
					width: 50px;
					text-align: center;
					display: block;
					line-height: 50px;
				}
			}
		}

		.tab-content{
			margin-top: 2em;
			font-size: 16px;
		}
	}
}