$red: #b61e44;

body, html{
	min-height: 100%;
	background-color: #fff;
}

body{
	margin-top: -5px;
}

nav{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	z-index: 999;
	
	ul.inline-list{
		margin-bottom: 0;
		margin-left: 20px;

		li.logo{
			margin-right: 20px;
			a{
				background: url(../img/logo-white.png) no-repeat center center;
				width: 71px;

				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;

				position: relative;
				top: 2px;

				font-weight: bold;

			}
		} 

		li{
			margin-left: 0;
			a{
				color: #fff;
				line-height: 100px;
				padding: 0 20px;

				&:hover{
					background-color: #000;
					color: $red;
				}
			}
		}
	}
}

section.hero{
	background: url(../img/header-bg.png) no-repeat center center;
	background-size: cover;

	height: 100%;
}

section{

	min-height: 100%;
	padding-bottom: 3em;

	header{
		min-height: 100vh;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
 
		h2{
			width: 200px;
			height: 200px;
			line-height: 200px;
			background-color: #fff;
			color: #404040;
			margin: 0 auto;
			text-align: center;
			position: relative;
			top: 200px;

			&.logo{
				background-color: transparent;
			}
		}
	}

	ul.tabs{
		text-align: center;
		margin-top: -60px;
		li{
			display: inline-block;

			&.active a{
				background-color: #fff;
				color: $red;
			}

			a{
				display: inline-block;
				height: 60px;
				padding: 10px 20px;
				color: #fff;
				font-weight: bold;
			}
		}
	}

	.child-title{
		color: $red;
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2rem;
		position: relative;

		span{
			background-color: #fff;
			position: relative;
			z-index: 99;
			display: inline-block;
			padding-right: 20px;
		}

		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: #aaa;
			position: absolute;
			top: 50%;
		}
	}

	.tab-content{
		display: none;
		&.active{
			display: block;
		}
	}
}

#blog-posts{
	padding-bottom: 0;
	margin-bottom: 0;
	header{
		background-image: url(../img/header-bg.png);
	}

	.no-bullet{
		margin-bottom: 0;
	}

	.posts{
		li{
			border-bottom: 1px solid #aaa;
			transition: all .3s linear;
			background-color: #fff;

			p{
				margin-bottom: 0;
			}

			&:hover{
				background-color: $red;
				a,
				h2,
				h3,
				p{
					color: #fff;
				}
			}

			a, h2, h3, p{
				transition: all .5s linear;
			}

			a{
				padding: 2em 0;
				display: block;

				h2{
					color: $red;

				}

				h3{
					color: #aaa;
					font-size: 18px;
				}

				p{
					text-transform: uppercase;
					font-weight: bold;
					font-style: normal;
					color: #aaa;
				}
			}
		}
	}
}

footer{
	background-color: #f6f6f6;
	padding: 3rem inherit;

	ul{
		margin-left: 0;
	}

	.gform_wrapper{
		li.gfield{
			input, textarea{
				margin-bottom: 0.5em!important;
				width: 100%!important;
			}
		}

		[type="submit"]{
			background-color: $red;

			@include radius();

			&:hover{
				background-color: darken($red, 10%);
			}
		}
	}

	.gform_footer{
		margin-top: 0;
	}

	li{
		list-style: none;
	}
}

.copyright{
	background-color: $red;
	padding: 1em;
	color: #fff;

	p{
		margin-bottom: 0;
	}
}

.single-post{
	header{
		height: 50%;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.content.row{
		margin-top: 3em;
		margin-bottom: 4em;

		h1{
			margin-bottom: 1em;
		}
	}
}